<h1>Payment Results</h1>

<p>APR</p>
<p> <%=@user_provided_apr%> </p>
<p>Number of years</p>
<p> <%=@user_provided_years%> </p>
<p>Principal</p>
<p> <%=@user_provided_principal%> </p>
<p>Payment</p>
<p> <%=@monthly_payment%> </p>
