<h1>Random Calculation</h1>

<form action="/random/results">

  <div>
    <label for="minimum">
      Minimum
    </label>
    <input type="text" name="min" id="minimum">
    <label for="maximum">
      Maximum
    </label>
    <input type="text" name="max" id="maximum">
  </div>
    <button>Pick random number</button>

  </form>
