<h1>Square Calculations</h1>

<form action="/square_root/results">

  <div>
    <label for="enter-a-number">
      Enter a number
    </label>
    <input type="text" name="user_input_square" id="enter-a-number">
  </div>
    <button>Calculate square root</button>

  </form>
