<h1>Square Calculations</h1>

<form action="/square/results">

  <div>
    <label for="Enter a number">
      Enter a number
    </label>
    <input type="text" id="Enter a number" name="user_input_square">
  </div>
    <button>Calculate square</button>

  </form>
